<% provide(:title, 'Home') %>
<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/usuario_info' %>
      </section>

      <section>
        <%= render 'shared/stats' %>
      </section>

      <section>
        <%= render 'shared/micropost_form' %>
        <div class="span8">
          <h3>Posts</h3>
          <%= render 'shared/feed2' %>
        </div>      
      </section>

      <section>
        <%= render 'shared/microvideo_form' %>
        <div class="span8">
          <h3>Videos</h3>
          <%= render 'shared/feed' %>
        </div> 
      </div> 
      </section> 

    </aside>
  </div>


  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Bienvenido a Piller</h1>

    <h2>
      La red social de microvideos
    </h2>

    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>

<% end %>
