<% provide(:title, 'Home') %>
<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/usuario_info' %>
      </section>

      <section>
        <%= render 'shared/stats' %>
      </section>

      <section>
        <%= render 'shared/micropost_form' %>
        <div class="span8">
          <h3>Posts</h3>
          <%= render 'shared/feed2' %>
        </div>      
      </section>

      <section>
        <%= render 'shared/microvideo_form' %>
        <div class="span8">
          <h3>Videos</h3>
          <%= render 'shared/feed' %>
        </div> 
      </div> 
      </section> 

    </aside>
  </div>


  </div>
<% else %>
  <div class="container-full">
      <div class="row"> 
        <div class="col-lg-12 text-center v-center">
          <h9>COMNET</h9>
          <h2>Entra en la Red Social para empresas más usada del mundo</h2>
           <%= link_to "Regístrate", signup_path,
                                class: "btn btn-large btn-primary" %>
          <br><br><br><br><br>
        </div>
      </div>
  </div>

<% end %>
