<% provide(:title, "Entar") %>
<h1>Acceder</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email, :placeholder =>"Introduce tu Email"%>
      <%= f.text_field :email, :placeholder =>"Introduce tu Email" %>

      <%= f.label :password, :placeholder =>"Introduce tu Contraseña"%>
      <%= f.password_field :password, :placeholder =>"Introduce tu Contraseña"%>

      <%= f.submit "Entra", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>¿No estás registrado? <%= link_to "Registrate!", signup_path %></p>
  </div>
</div>