<li id="<%= feed_item.id %>">
  <%= link_to gravatar_for(feed_item.usuario), feed_item.usuario %>
  <span class="user">
    <%= link_to feed_item.usuario.name, feed_item.usuario %>
  </span>
  <span class="content"><%= feed_item.titulo %></span><br><br><br>
  <span class="content"><%= feed_item.categoria %></span>
  <iframe width="620" height="300" src="http://www.youtube.com/embed/<%= feed_item.content.split('=').last %>" frameborder="0" allowfullscreen></iframe>
  <span class="timestamp">
  <span class="content"><%= feed_item.comentario %></span>
    Publicado: <%= time_ago_in_words(feed_item.created_at) %> ago.
  </span>
   <% if current_usuario?(feed_item.usuario) %>
    <%= link_to "delete", feed_item, method: :delete,
                                     data: { confirm: "¿Estás seguro?" },
                                     title: feed_item.content %>
  <% end %>
</li>
