<%= form_for(@microvideo) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
  <h4> Introduce el titulo del video:<%= f.text_field :titulo, placeholder: "Inserta un titulo..." %> 
  	   Introduce la URL del video que quieres publicar:<%= f.text_field :content, placeholder: "Inserta un nuevo video..." %>  
  	   Introduce un comentario sobre el video (opcional):<%= f.text_area :comentario, placeholder:"Inserta un comentario..." %>  </h4>
  	   <h4> Selecciona una categoria:</h4>  
     <%= f.select :categoria, options_for_select(['General', 'Marketing', 'RR.HH.']), :size => 2, :prompt => 'Elige una...'%>
  	<%= f.submit "Publicar", class: "btn btn-large btn-warning" %>  	
  </div>
<% end %>