<%= link_to gravatar_for(current_usuario, size: 52), current_usuario %>
<h1>
  <%= current_usuario.name %>
</h1>
<span>
  <%= link_to "Ver mi perfil", current_usuario %>
</span>
<span>
  <%= pluralize(current_usuario.microvideos.count, "microvideo") %>
</span>
<span>
  <%= pluralize(current_usuario.microposts.count, "micropost") %>
</span>