<% provide(:title, "Editar usuario") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@usuario) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name ,:placeholder =>"Introduce tu Nombre"%>
      <%= f.text_field :name,:placeholder =>"Introduce tu Nombre" %>

      <%= f.label :email, :placeholder =>"Introduce tu Email" %>
      <%= f.text_field :email, :placeholder =>"Introduce tu Email" %>

      <%= f.label :password, :placeholder =>"Introduce una Contrase単a" %>
      <%= f.password_field :password, :placeholder =>"Introduce una Contrase単a" %>

      <%= f.label :password_confirmation, :placeholder =>"Confirma tu contrase単a" %>
      <%= f.password_field :password_confirmation, :placeholder =>"Confirma tu contrase単a" %>

      <%= f.submit "Guardar los cambios", class: "btn btn-large btn-primary" %>
    <% end %>

    <%= gravatar_for @usuario %>
    <a href="http://gravatar.com/emails">change</a>
  </div>
</div>